body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    background-color: #f0f0f0;
}

code, pre {
    font-family: "Source Code Pro", monospace;
    background-color: #f0f0f0;
    border-radius: 0.2em;
}

pre {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}

img {
    max-width: 100%;
}

.content {
    max-width: 50em;
    margin: 0 auto;
    padding: 0 0.5em;
}

.post {
    padding: 1.5em;
    margin: 1em auto;
    background-color: #ffffff;
    border-radius: 1em;
}

.post p:first-child {
    margin-top: 0.3em;
}

.postHead {
    font-size: 10pt;
    color: #bebebe;
}

.postHead .date {
    float: right;
}

.projectHeading {
    font-size: 42pt;
}

ul.menu {
    background-color: #303030;
    color: #ffffff;
    font-weight: 900;
    font-size: 16pt;
    margin: 0;
    padding: 0 0 0 1em;
    white-space: nowrap;
    overflow: hidden;
}

ul.menu a {
    color: #94da3a;
    text-decoration: none;
    cursor: pointer;
}

ul.menu a:hover {
    text-decoration: underline;
    color: #ffffff;
}

ul.menu li {
    display: inline-block;
    margin: 1em;
}

ul.menu h1#menu-heading {
    display: none;
    font-weight: lighter;
    font-size: 16pt;
}

ul.menu div#burger-symbol {
    display: block;
    float: right;
    margin: 0;
    cursor: pointer;
    background-image: url("/static/microblog/burgerfadein.png");
    background-repeat: repeat-y;
    padding: 0.5em 0.5em 0.5em 2em;
    position: relative;
}