[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-markdownify = "*"
django-cleanup = "*"
pillow = "*"
python-telegram-bot = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
